$green: #396039;
$green-light: #008000;
$green-middle: #1E5515;
$green-olive: #396039;
$green-dark: #10310b;
$green-hover: #1e5515;
$green-selected: #b7c5b7;
$green-recipe-badge:#39603933;
$orange-hover: #fae0c6;
$cream: #faf0e6;
$sage: #d7dfd7;
$card: #dbe0db;
$content-width: 1440px;
$breakpoint-mobile: 860px;
$breakpoint-recipe-details-mobile: 960px;
$breakpoint-wide: 1440px;
$radius: 20px;
