@use '../../../styles/variables' as v;

:host {
  display: block;
  height: 100%;
}

.hero {
  position: relative;
  display: flex;
  width: 100%;
  max-width: v.$content-width;
  height: max(100dvh, 860px);
  margin-inline: auto;
  padding: 176px 68px 56px;
  overflow: hidden;

  &__content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 755px;
  }

  &__heading {
    margin-bottom: 64px;

    p {
      font-family: 'Quicksand', 'Trebuchet MS', sans-serif;
      font-size: 48px;
      font-weight: 600;
      line-height: 1;
    }
  }

  &__cookbook {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
    margin-top: auto;
    margin-bottom: 84px;
    text-align: center;

    h2 {
      font-family: 'Ubuntu', 'Trebuchet MS', sans-serif;
      font-size: 32px;
      font-weight: 500;
    }
  }

  &__visuals {
    position: absolute;
    top: 0;
    bottom: 0;
    left: max(60%, 620px);
  }

  &__plates {
    width: auto;
    max-width: none;
    height: 100%;
    padding-right: 64px;
  }
}

h1 {
  font-family: 'Ubuntu', 'Trebuchet MS', sans-serif;
  font-size: clamp(64px, 7vw, 88px);
  font-weight: 700;
  line-height: 1.2;
}

// Widescreen
@media (min-width: v.$breakpoint-wide) {
  .hero {
    height: max(100dvh, 1080px);

    &__content {
      height: 848px;
    }

    &__plates {
      width: auto;
      max-width: 380px;
      height: auto;
    }

    &__visuals {
      right: auto;
      left: 60%;
    }
  }
}

@media (min-height: 1080px) {
  .hero {
    height: max(100dvh, 1080px);

    &__content {
      height: 848px;
    }

    &__plates {
      width: auto;
      max-width: 380px;
      height: auto;
    }
  }
}

// Mobile
@media (max-width: v.$breakpoint-mobile) {
  .hero {
    height: max(100dvh, 736px);
    padding: 124px 16px 40px;

    &__content {
      max-width: clamp(210px, 58vw, 360px);
    }

    &__heading {
      margin-bottom: 40px;

      p {
        max-width: 95%;
        font-size: clamp(20px, 6.4vw, 24px);
        line-height: 1.25;
      }
    }

    &__cookbook {
      max-width: 200px;

      h2 {
        max-width: 164px;
        font-size: 24px;
      }
    }

    &__visuals {
      right: auto;
      bottom: auto;
      left: clamp(224px, 59vw, 456px);
      width: 359px;
      height: 100%;
    }
  }

  h1 {
    max-width: 100%;
    margin-top: 8px;
    font-size: clamp(52px, 17vw, 64px);
    line-height: 1.12;
  }
}