<section class="page cuisine-page">
  <div class="cuisine-toolbar">
    <a class="back-link" routerLink="/cookbook">
      <img class="back-link__icon" src="assets/icons/back-arrow-icon.svg" alt="" />
      <span class="back-link__label">Cookbook</span>
    </a>
    <a class="button button--small cuisine-toolbar__generate" routerLink="/generate">
      Generate a recipe
    </a>
  </div>

  @if (cuisine(); as cuisine) {
    <header class="cuisine-heading">
      <picture>
        <source media="(max-width: 860px)" [srcset]="mobileBanners[cuisine]" />
        <img [src]="banners[cuisine]" [alt]="labels[cuisine] + ' cuisine'" />
      </picture>
      <h1 class="visually-hidden">{{ labels[cuisine] }} cuisine</h1>
    </header>

    <app-library-list [cuisine]="cuisine" />

    <div class="cuisine-mobile-action">
      <a class="button button--small" routerLink="/generate">Generate a recipe</a>
    </div>
  } @else {
    <div class="status-panel">
      <h1>Cuisine nicht gefunden</h1>
      <p>Dieser Kochstil ist nicht konfiguriert.</p>
    </div>
  }
</section>
